---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% if post.link %}
            <a class="post-link" href="{{ post.link }}">&#x261e; {{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
        <abstract class="post-content">
          {% if post.image %}<img class="post-image" src="{{ post.image }}"/>{% endif %}
          {% if post.abstract %}
            {{ post.abstract }} <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">... more</a>
          {% else %}
            {{ post.content | strip_html }} <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">... discuss</a></em>
          {% endif %}
        </abstract>
      </li>
    {% endfor %}
  </ul>

</div>
