
<div id="pieWithBuffer"></div>
<div id="stock-slider" style="width: 300px;" align="center"></div>



<script>
var pieData = [
  {
    "label": "Buffer",
    "value": 13,
    "color": "#387e45",
    "caption": "{percentage}%, withdrawal = 3.2%"
  },
  {
    "label": "Bonds",
    "value": 27,
    "color": "#386a7e",
    "caption": "{percentage}%"
  },
  {
    "label": "Stocks",
    "value": 60,
    "color": "#7e3838",
    "caption": "{percentage}%"
  }
];
stockReturn = 0.102;
bondReturn = 0.053;
inflationRate = 0.032;
bufferSize = 5;

updateData = function(stockPercent) {
    var stock = stockPercent * 0.01
  var bufferlessReturn = stock*stockReturn + (1-stock)*bondReturn;
  var a = bufferSize*(bufferSize-1)*bondReturn;
  var b = 1+(bufferSize-1)*bondReturn+bufferSize*bufferlessReturn;
  var c = bufferlessReturn - inflationRate;
  var withdrawalRate = (b-Math.sqrt(b*b-4*a*c))/(2*a);
  var bufferPercent = (bufferSize-1)*withdrawalRate*100;
  var bondPercent = 100-stockPercent-bufferPercent;

  pieData[0].value = bufferPercent;
  pieData[0].caption = "{percentage}%, withdrawal = " + Math.round(withdrawalRate*1000)/10 + "%"
  pieData[1].value = bondPercent;
  pieData[2].value = stockPercent;
}
updateData(55);

var pie = new d3pie("pieWithBuffer", {
	"header": {
		"title": {
			"text":     "Portfolio Allocation with a Spending Buffer",
			"fontSize": 22
		},
    subtitle: {
      text:     bufferSize + "-year buffer, 10.2% stock returns, 5.3% bond returns, 3.2% inflation",
      color:    "#666666",
      fontSize: 14,
    }
	},
  footer: {
    text: 	  "use slider to change stock allocation",
    color:    "#666666",
    fontSize: 10,
    location: "bottom-center"
  },
	"size": {
		"canvasHeight": 400,
		"canvasWidth": 430,
		"pieOuterRadius": "88%"
	},
	"data": {
		"content": pieData
	},
	"labels": {
		"outer": {
			"format": "none",
			"pieDistance": 32
		},
		"inner": {
			"format": "label"
		},
		"mainLabel": {
			"color": "#e1e1e1",
			"font": "verdana",
			"fontSize": 12
		},
		"percentage": {
			"color": "#e1e1e1",
			"font": "verdana",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#e1e1e1",
			"font": "verdana"
		},
		"lines": {
			"enabled": true,
			"color": "#cccccc"
		},
		"truncation": {
			"enabled": true
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "caption",
		"string": "{label}: {percentage}%"
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 200,
			"size": 12
		}
	},
	"callbacks": {
    "onload": function() { pie.openSegment(0); },
		"onMouseoverSegment": null,
		"onMouseoutSegment": null,
		"onClickSegment": null
	}
});

d3.select('#stock-slider').call(d3.slider().axis(true).min(0).max(85).step(5).value(pieData[2].value).on("slideend", function(evt, stockPercent) {
  updateData(stockPercent);
  pie.updateProp("data.content", pieData);
}));
</script>
